.boarderLine
{
    color:#000000;
    fill:#fcaf3e;
    stroke:#000000;
    stroke-width:2.5;
    stroke-linecap:round;
    stroke-linejoin:bevel;
    stroke-miterlimit:4;
    stroke-opacity:1;
    stroke-dasharray:none;
    marker:none;
    visibility:visible;
    display:inline;
    overflow:visible;
    enable-background:accumulate;
    fill-opacity:1
}

.shadow {
    /* Use -webkit- only if supporting: Chrome < 54, iOS < 9.3, Android < 4.4.4 */
    -webkit-filter: drop-shadow( 3px 3px 4px #000000 ); 
            filter: drop-shadow( 3px 3px 4px #000000 );
}

.blurShadow {
    /* Use -webkit- only if supporting: Chrome < 54, iOS < 9.3, Android < 4.4.4 */
    -webkit-filter: drop-shadow( 0px 0px 3px #00000088 ); 
            filter: drop-shadow( 0px 0px 3px #00000088 );
}

.outerCircle
{
    fill:#fedaa4;
    fill-opacity:1;
    stroke:#000000;
}

.pieceCircle
{
    stroke-width:2;
    stroke-linecap:round;
    stroke-linejoin:bevel;
    stroke-miterlimit:4;
    stroke-opacity:1;
    stroke-dasharray:none;
    marker:none;
    visibility:visible;
    display:inline;
    overflow:visible;
    enable-background:accumulate;
}

.innerCircle
{
    fill:none;
}

.chess-characters-red {
    fill:#cc0000;
    stroke:#cc0000;
}

.chess-characters-black {
    fill:#000000;
    stroke:#000000;
}

.chess-characters
{
    font-size:40px;
    font-style:italic;
    font-variant:normal;
    font-weight:normal;
    font-stretch:normal;
    text-align:end;
    line-height:100%;
    writing-mode:lr-tb;
    text-anchor:end;
    fill-opacity:1;
    stroke-width:1px;
    stroke-linecap:butt;
    stroke-linejoin:miter;
    stroke-opacity:1;
    font-family:DejaVu Serif;
}