---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%Y-%m-%d" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}{% if page.timestamp %} • <br>Last Modified: <span itemprop="lastmodified">{{ page.timestamp | date: "%Y-%m-%d" }}</span>{% endif %}</p>
    {% comment %} page.date | use %-d to remove leading zero. Default is %b %-d, %Y" {% endcomment %}
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>


  <div class="">
    <strong>-- EOF --</strong>
  </div>

  {% if page.cc == "by-sa" %}
    <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="/assets/images/cc-by-sa.png" /></a>This work is licensed under <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons BY-NC-SA 3.0 Unported License</a>.
  {% endif %}

  {% if page.cc == "by-nc-sa" %}
    <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="/assets/images/cc-by-nc-sa.png" /></a>This work is licensed under <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons BY-NC-SA 3.0 Unported License</a>.
  {% endif %}

  {% if page.cc == "by-nc-nd" %}
    <a rel="license" href="https://creativecommons.org/licenses/by-nc-nd/3.0/"><img alt="Creative Commons License" style="border-width:0" src="/assets/images/cc-by-nc-nd.png" /></a>This work is licensed under <a rel="license" href="https://creativecommons.org/licenses/by-nc-nd/3.0/">Creative Commons BY-NC-ND 3.0 Unported License</a>.
  {% endif %}

  {% if page.cc == "by-sa-cn" %}
    <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/cn/"><img alt="知识共享许可协议" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/3.0/cn/88x31.png" /></a><br />本作品采用(Licensed under)<a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/cn/">知识共享署名-相同方式共享 3.0 中国大陆许可协议</a>进行许可。
  {% endif %}

  {% if page.cc == "by-nc-sa-cn" %}
    <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/3.0/cn/"><img alt="知识共享许可协议" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/3.0/cn/88x31.png" /></a><br />本作品采用(Licensed under)<a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/3.0/cn/">知识共享署名-非商业性使用-相同方式共享 3.0 中国大陆许可协议</a>进行许可。
  {% endif %}

  {% if page.cc == "by-nc-nd-cn" %}
    <a rel="license" href="https://creativecommons.org/licenses/by-nc-nd/3.0/cn/"><img alt="知识共享许可协议" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/3.0/cn/88x31.png" /></a><br />本作品采用(Licensed under)<a rel="license" href="https://creativecommons.org/licenses/by-nc-nd/3.0/cn/">知识共享署名-非商业性使用-禁止演绎 3.0 中国大陆许可协议</a>进行许可。
  {% endif %}

  <!-- MathJax -->
  <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
        tex2jax: {
          skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
         }
      });
  </script>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Queue(function() {
        var all = MathJax.Hub.getAllJax(), i;
        for(i=0; i < all.length; i += 1) {
            all[i].SourceElement().parentNode.className += ' has-jax';
        }
    });
  </script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

  <!-- highlight js -->
  <link rel="stylesheet" href="https://highlightjs.org/static/demo/styles/monokai.css">
  <script src="/js/highlight/highlight.pack.js"></script>

  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/jQueryHrefPopupImage.js"></script>
  <script src="/js/foldable.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <!-- <link href="/css/highlight-styles/rainbow.css" rel="stylesheet"> -->

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
